@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}

.scrollbar-hidden, .sidebar-inner::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden, .sidebar-inner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}